.menu {
    
    position: absolute;
    top: 1767px;
    // left: 107px;
    height: 100vh;
    width: 100%;
    background-color: white;
    @include sp {
        top: 1500px;
    }
    &__img {
        width: 100%;
        text-align: center;
        img {
            text-align: center;
            width: 100%;
            height: 100%;
        }
    }
}

.menu__title {
    // margin-left: 
    position: absolute;
    display: flex;
    // margin-left: 107px;
    left: 107px;
    top:250px;
    align-items: center; /* 垂直中心 */
    color: #707070;
    font-size: 18px;
    @include tab {
        margin-left: 20px;
        top: 50px;
    }
    @include sp {
        margin-top: 95px; 
    }
}

.menu__title::after {
    display: flex;
    content: "";
    border-top: 1px solid;
    width: 75%;
    height: 0px;
    width: 3em; /* 線の長さ */
    border: 1px solid #707070;
    margin-left: 1em; /* 文字の左隣 */
    opacity: 1;
}

// .menu-wrap {
//     display: flex;
//     justify-content: space-between;
//     flex-wrap: wrap;
// }




// .menu-item {
//     width: 28%;
//     padding: 40px 3.5vw 30px;
//     text-align: center;
//     background-color: #fff;
//     &__title {
//         font-size: 2.2rem;
//         margin-bottom: 18px;
//         font-family: Roboto Mono for Powerline;
//         font-size: 30px;
//     }
//     &__img {
//         width: 100%;
//         max-width: 170px;
//         margin: 0 auto;
//         img {
//             width: 100%;
//         }
//     }
//     &__desc {
//         margin-top: 35px;
//         text-align: left;
//     }
//     &__intro {
//         font-size: 1.2rem;
//         margin-top: 1em;
//     }
// }



.menu-wrap {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: auto;
    top: 50%;
    left: 107px;
    right: 107px;
    // @include tab {
    //     flex-direction: column;
    //     text-align: center;

    // }
    @include tab {
        top: 28%;
        flex-direction: column;
        text-align: center;

    }
    @include sp {
        text-align: center;
        height: 1400px;
        width: 310px;
        left: 38px;

    }
}

.menu-item {
    width: 30.5%;
    background-color: white;
    // box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.16);
    text-align: center;
    // padding-right: 8%;
    // @include tab {
    //     width: 100%;
    //     margin-top: 30px;
    // }
    @include tab {
        width: 100%;
        margin-top: 30px;
    }
    @include sp {
        height: 100%;
    }
}

.menu__content {
    padding: 20px;
    text-align: center;
    // @include tab {
    //     text-align: left
        
    // }
    @include tab {
        text-align: left
    }
    @include sp {
        height: 450px;
    }
    margin: 0px;
    &__title {
        text-align: center;
        font-weight: bold;
        font-size: 2.2rem;
        margin-bottom: 0px;
        font-family: Roboto Mono for Powerline;
        font-size: 30px;
        padding-bottom: 0px;
    }
    &__intro {
        padding-top: 20px;
        height: 131px;
        width: 100%;
        font-size: 16px;
        margin: 0;
        text-align: center;
    }
    &__price {
        text-align: right;
        @include sp {
            position: relative;
            top: 20%;
            // text-align: center;
            
        }
    }
}